.link {
    cursor: pointer;
    color: $color-white;
    text-decoration: none;
    padding-block-end: 0.5em;
    font-family: $fontFamily-open-sans-regular;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $color-red;
        left: 0;
        bottom: 0;
        transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
        transform: translateY(5px)
    }
}