// Colors
$background-color: #0E1414;
$color-red: #CF1430;
$heading-white: #F9F9F9;
$color-white: #FFFFFF;
$color-gray: #707373;

// font families
$fontFamily-open-sans: #{'open-sans-display', serif};
$fontFamily-open-sans-regular: #{'open-sans-regular'};