.image-with-text-component {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;

    @media only screen and (min-width: 992px) {
        align-items: self-start;
        flex-direction: row;
    }

    .image-wrapper {
        display: grid;
        gap: 1rem;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2 , 1fr);

            .image-container:first-child {
                grid-row: span 2;
            }
        }
    }
    
    .text-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        margin-inline: 8rem;

        @media only screen and (min-width: 768px) {
            margin-inline: 0;
            max-width: 500px;
            width: 100%;
        }

        @media only screen and (max-width: 500px) {
            margin-inline: 3.5rem;
        }

        .heading {
            font-family: 'open-sans-display';
            color: $color-white;
            font-size: 2rem;
            font-weight: 100;
            border-bottom: 1px solid $color-white;
            padding-bottom: 1rem;
        }

        .paragraph {
            line-height: 1.8;
            color: $color-white;
            opacity: 0.8;
            font-family: 'open-sans-regular';
            font-weight: 100;
            font-size: 1.2rem;
        }

        .sub-title {
            margin-block-start: 1.5rem;
            color: $color-red;
            font-family: 'open-sans-regular';
            font-weight: 700;
        }

        .sub-text {
            color: $color-white;
            font-family: 'open-sans-regular';
            line-height: 1.5;
            font-size: 1.3rem;
        }
    }
}