.component {
    padding-inline: 0.5em;
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        padding-inline: 0;
    }

    .block-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
        flex-wrap: wrap;

        @media only screen and (min-width: 768px) {
            padding-inline: 1em;
        }
    }
    .title {
        color: $color-white;
        text-align: center;
        font-family: $fontFamily-open-sans;
        font-size: 2.5em;
        margin-block: 1.5em;
    }
}