@font-face {
    font-family: "open-sans-display";
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: "open-sans-regular";
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}